.header {
  margin-top: 5rem;
  margin-left: 4rem;
  display: flex;
  gap: 5.55rem;
  max-width: 36.5rem;
}

.enter__email {
  color: black;
}

.form {
  margin: 0 auto;
  width: 34.5rem;
}

.or {
  font-weight: 600;
}
